@font-face {
    font-family: hell-1;
    src: url(./helveticaneue.ttf);
}
@font-face {
    font-family: hell-2;
    src: url(./helveticaneue-medium.ttf);
}
@font-face {
    font-family: dd1;
    src: url(./Degular-Regular.ttf);
}
@font-face {
    font-family: dd2;
    src: url(./Degular-Bold.ttf);
}
@font-face {
    font-family: dd3;
    src: url(./DegularDisplay-Black.ttf);
}
@font-face {
    font-family: uu1;
    src: url(./21507.ttf);
}
@font-face {
    font-family: uu2;
    src: url(./21502.ttf);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    background-color: #151414;
    position: relative;
    width: 100%
}
#loader{
    position: absolute;
    top: -100%;
    height: 100%;
    width: 100%;
    background-color:#E7CFB1;
    display: flex;
    align-items: center;
    justify-content: center;
}
#lodar-container{
    overflow-x: auto;
    overflow-y: hidden;
    height: 230px;
    width: 220px;
    white-space: nowrap;
}
#container{
    height: 100%;
    width: 100%;
}
#pg1{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #151414;
}
#nav{
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav2{
    display: flex;
    gap: 2vw;
}
#nav a{
    color:#E7CFB1;
    font-family: hell-1;
    text-decoration: none;
    font-size: 1.3vw;
}
#pg1-main{
    color: #E7CFB1;
    text-align: center;
}
#pg1-main h1{
    margin-top: -10vw;
    font-family: dd3;
    display: inline-block;
    font-size: 45vw;
    font-weight: 900;
}
#pg1-end{
    margin-top: -13vw;
    font-size: 1.5vw;
    font-family: hell-1;
    text-align: center;
    color: #E7CFB1;
}
#pg2{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: #151414;
}
#pg2 video{
    width: 30%;
    height: 100%;
    object-fit: cover;
}
#pg3{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
#pg3 p{
    margin-right: 1.5vw;
    color: #E7CFB1;
    font-family: hell-2;
    font-weight: 800;
    font-size: 9vw;
    display: inline-block;
}
#txt-container{
    line-height: -100rem;
    height: 80%;
    width: 85%; 
}
#txt-container span{
    font-family: uu2;
    font-weight: 100;
}
#txt1{
    overflow: hidden;
    height: fit-content;
}
#txt2{
    height: fit-content;
    margin-top: -3vw;
    text-align: end;
    overflow: hidden;
}
#txt3{
    overflow: hidden;
    height: fit-content;
    margin-top: -1vw;
    text-align: end;
}
#txt4{
    overflow: hidden;
    height: fit-content;
    margin-top: -3vw;
    margin-top: -3vw;
}

#txt4 h6{
    font-family: hell-2;
    margin-left: 7vw;
    font-size: 1vw;
    font-weight: 100;
    display: inline-block;
    color: #E7CFB1;
    width: 18%;
}
#pg4{
    min-height: 350vh;
    width: 100vw;
    background-color: #151414;
    position: relative;
}

#p4-wrap{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
#pg4 #arrow{
    margin-right: 3vw;
}
#pg4 #gol{
    margin-top: -15vw;
    margin-right: 3vw;
    rotate: 50deg;
    animation-name: rotate;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes rotate {
    0%{
        rotate: 0deg;
    }
    100%{
        rotate: 360deg;
    }
}
#pg4 #arrow{
    left: -50%;
    position: relative;
}

#pg4-cell1{
    overflow: hidden;
    padding-top: 0.1px;
    margin-top: 10vw;
    margin-left: 3vw;
    height: 70vh;
    width:45vw;
    transition: all ease 500ms;
    background-color: antiquewhite;
}
#pg4-cell1::before{
    content: "";
    height: 10vw;
    width: 80vw;
    background-color: aqua;
    color: #fff;
}
#pg4-cell1 video{
    height: 100%;
    object-fit: cover;
}
#pg4-cell1:hover video{
    scale: 1.1;
    transition: all ease-in-out 500ms ;
}
#pg4-cell1:hover {
    height: 68vh;
    width:44vw;
}
#p4-wrap1{
    padding: 5vw;
    display: flex;
    justify-content: flex-end;
    margin-top: -10vw;

}
#pg4-cell2{
    margin-top: -150px;
    overflow: hidden;
    background-color: #E7CFB1;
    height: 43vh;
    width: 35vw;
    margin-top: 5vw;
    transition: all ease-in-out 500ms;    
}
#pg4-cell2 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all ease-in-out 300ms ;
}
#pg4-cell2:hover {
    height: 42vh;
    width: 34vw;
}
#pg4-cell2:hover img{
    scale: 1.1;
}

#pg4-wrap2{
    height: 60vw;
    background-color: #E7CFB1;
    margin-top: -10vw;
}
#pg4-cell3{
    margin: -150px;
    margin-left: 3vw;
    height: 50vh;
    width: 40vw;
}
#pg4-cell3 img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.cell img{
    width: 100%;
}
#p4-wrap3{
    padding-right: 3vw;
    display: flex;
    justify-content: flex-end;
}

#pg4-cell4{
    height: 40vh;
    width: 40vw;
}
#p4-wrap4{
    display: flex;
    justify-content: center;
}
#pg4-cell5{
    margin-top: 40vh;
    height: 50vh;
    width: 45vw;
}
#pg4-wrap5{
    display: flex;
    justify-content: center;
}
#pg4-end{
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 13vh;
    border: 2px solid #E2CAAD;
    width: 20vw;
    margin-top: 430px;
    color: #fff;
}
#pg4-end p{
    font-size: 1.5rem;
}

#pg5{
    position: relative;
    align-items: center;
    height: 120vh;
    width: auto;
    background-color: #9AC1CB;
}
#pg5-main{
    display: flex;
    align-items: center;
    padding-left: 5vw;
    height: 100vh;
    width: 250vw;
   background-color: #9AC1CB;
}
#pg5-main h1{
    padding: 5vw;
    font-size: 75vh;
    font-family: hell-2;
    font-weight: 500;
}
#pg5-footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 30vh;
    width: 100vw;
    background-color: #9AC1CB;
}
#pg5-footer #box h5{
    font-family: hell-2;
    font-size: 1.4vw;
    font-weight: 400;
    margin-bottom: .5vw;

}
#pg5-footer #box p{
    font-weight: 400;
    color: #54666A;
    font-family: hell-1;
    font-size: 1.2vw;
}
#pg6{
    margin-top: 2cm;
    position: relative;
    padding: 5vw;
    height: 100vh;
    width: 100vw;
    background-color: #888;
    display: grid;
    white-space: nowrap;
}
#pg6 img{
    padding: 20px;

    height: 100px;
}